body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.title {
  font-size: large;
  font-weight: bold;
  color: red;
  text-align: center;
}
.marker {
  stroke: red;
  text-align: center;
}

.markerImg {
  /* height: 24px;
  width: 24px; */

  transform: translate(-50%, -100%);
}
.popup {
  font-weight: bold;
  text-align: center;
  width: 250px;
  padding: 0.1rem;
}

.entryForm > label,
input,
textarea {
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
  display: block;
  width: 100%;
}
.entryForm > button {
  margin-top: 1rem;
  display: block;
  width: 100%;
}
#root
  > div
  > div
  > div:nth-child(2)
  > div
  > div.mapboxgl-popup.mapboxgl-popup-anchor-left
  > div.mapboxgl-popup-content {
  border-radius: 12px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.error {
  color: #f05305;
}

.popup > img {
  width: 50%;
}
